html {
  position: relative;
  height: 100vh;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl {
  margin-bottom: 15px;
}

button {
  background-color: transparent;
  padding: 10px 20px;
  border-color: #739fb2;
  border-radius: 4px;
  color: #739fb2;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .25s ease;
  outline: none;
}

button:hover {
  background-color: #739fb2;
  color: white;
}
